<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Details</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Message Details</h1>
  <div class="detailContainer">
    <p><strong>User:</strong>
      <%= message.username %>
    </p>
    <p><strong>Message:</strong>
      <%= message.message %>
    </p>
    <p><strong>Date Added:</strong>
      <%=message.date_added ? new Date(message.date_added).toDateString() : "No date available" %>
    </p>

    <a href="/"><button class="backToMessagesBtn">Back to Messages</button></a>
  </div>
</body>

</html>
